<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>로그인</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/assets/css/bootstrap.css}"
          href="/assets/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/assets/css/signin.css}"
          href="/assets/css/signin.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body class="text-center">
    <main class="form-signin">
        <form name="form1" action="/security/login" th:action="@{/security/login}" th:object="${userDto}" method="post" autocomplete=off>
            <img class="mb-4" src="/assets/bootstrap/brand/bootstrap-logo.svg" th:src="@{/assets/bootstrap/brand/bootstrap-logo.svg}" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="userid" th:field="*{userid}" th:errorclass="field-error" placeholder="user id">
                <div class="field-error" th:errors="*{userid}" />
                <label for="userid">Id</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="passwd" th:field="*{passwd}" th:errorclass="field-error" placeholder="Password">
                <label for="passwd">Password</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
    </main>
</body>

</html>