<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/layout}">

<th:block layout:fragment="content">
  <h2>자유게시판</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th scope="col" style="width: 100px;">#</th>
        <th scope="col" >제목</th>
        <th scope="col" style="width: 100px;">조회수</th>
        <th scope="col" style="width: 100px;">작성자</th>
        <th scope="col" style="width: 160px;">작성일자</th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${#lists.size(list)} > 0" th:each="list : ${list}">
        <td th:text="${list.boardIdx}">1</td>
        <td><a href="/sample/board/openBoardDetail.do?boardIdx=" th:attrappend="href=${list.boardIdx}" th:text="${list.title}">제목</a></td>
        <td th:text="${list.hitCnt}">4</td>
        <td >홍길동</td><!--th:text="${list.creatorId}"-->
        <td th:text="${#temporals.format(list.createdDatetime, 'yyyy-MM-dd HH:mm::ss')}">2021-12-15</td>
      </tr>
      <tr th:unless="${#lists.size(list)} > 0">
        <td colspan="5">조회된 결과가 없습니다.</td>
      </tr>
      </tbody>
    </table>
    <a class="btn btn-outline-secondary btn-sm" href="/sample/board/openBoardWrite.do">글 쓰기</a>
  </div>
</th:block>
</html>