<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/layout}">

<th:block layout:fragment="content">
<div class="container">
  <h2>게시글 상세 화면</h2>
  <!-- ADD START -->
  <form id="frm" method="post" th:object="${board}">
    <!-- ADD END -->
    <table class="board_detail">
      <colgroup>
        <col width="15%"/>
        <col width="35%"/>
        <col width="15%"/>
        <col width="35%"/>
      </colgroup>
      <caption>게시글 상세내용</caption>
      <tbody>
      <tr>
        <th scope="row">글 번호</th>
        <td th:text="*{boardIdx}"></td>
        <th scope="row">조회수</th>
        <td th:text="*{hitCnt}"></td>
      </tr>
      <tr>
        <th scope="row">작성자</th>
        <td th:text="${board.creatorId}"></td>
        <th scope="row">작성일</th>
        <td th:text="${#temporals.format(board.createdDatetime, 'yyyy-MM-dd HH:mm:ss')}"></td>
      </tr>
      <tr>
        <th scope="row">제목</th>
        <td colspan="3">
          <input type="text" id="title" name="title"
                 th:value="${board.title}"/>
        </td>
      </tr>
      <tr>
        <td colspan="4" class="view_text">
          <textarea title="내용" id="contents" name="contents" th:text="${board.contents}"></textarea>
        </td>
      </tr>
      </tbody>
    </table>
    <!-- ADD START -->
    <input type="hidden" name="boardIdx" th:value="${board.boardIdx}">
  </form>
  <!--
  <div class="file_list">
    <a th:each="list : ${board.fileList}" th:href="@{/board/downloadBoardFile.do(idx=${list.idx}, boardIdx=${list.boardIdx})}" th:text="|${list.originalFileName}(${list.fileSize} kb)|"></a>
  </div>
  -->
  <div class="file_list" th:each="list : ${board.fileList}">
    <a style="float:left" th:href="@{/sample/board/downloadBoardFile.do(idx=${list.idx}, boardIdx=${list.boardIdx})}" th:text="|${list.originalFileName}(${list.fileSize} kb)|"></a>
    <input type="button" id="delete_file" th:value="파일삭제" th:onclick="|location.href='@{/board/deleteBoardFile.do(idx=${list.idx}, boardIdx=${list.boardIdx})}'|">
  </div>

  <input type="button" id="list" value="목록으로">
  <input type="button" id="edit" value="수정하기">
  <input type="button" id="delete" value="삭제하기">

  <script type="text/javascript">
    $(document).ready(function(){
      $("#list").on("click", function(){
        location.href = "openBoardList.do";
      });

      $("#edit").on("click", function(){
        var frm = $("#frm")[0];
        frm.action = "/sample/board/updateBoard.do";
        frm.submit();
      });

      $("#delete").on("click", function(){
        var frm = $("#frm")[0];
        frm.action = "/sample/board/deleteBoard.do";
        frm.submit();
      });
    })
  </script>
  <!-- ADD END -->
</div>
</th:block>
</html>