<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Head -->
<th:block th:fragment="sidebarFragment">
    <header class="main-nav">
        <div class="sidebar-user text-center"><!--<a class="setting-primary" href="javascript:void(0)"><i data-feather="settings"></i></a>--><img class="img-90 rounded-circle" src="../assets/images/dashboard/1.png" alt="">
            <!--<div class="badge-bottom"><span class="badge badge-primary">New</span></div>-->
            <a href="#">
                <h6 class="mt-3 f-14 f-w-600" sec:authentication="principal.userNm">접속자명</h6>
            </a>
            <p class="mb-0 font-roboto" th:text="|${session.USER_INFO.deptNm }(${session.USER_INFO.posNm})|"></p>
        </div>
        <nav>
            <div class="main-navbar">
                <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
                <div id="mainnav">
                    <ul class="nav-menu custom-scrollbar">
                        <li class="back-btn">
                            <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                        </li>
                        <li class="sidebar-main-title">
                            <div>
                                <h6>Eye Contact Checklist</h6>
                            </div>
                        </li>
                        <li class="dropdown"><a class="nav-link menu-title link-nav" href="javascript:void(0)" th:href="@{/ecoc/educationList}"><i data-feather="edit"></i><span>동영상 교육</span></a></li>

                        <li class="sidebar-main-title">
                            <div>
                                <h6>관리자</h6>
                            </div>
                        </li>
                        <li class="dropdown"><a class="nav-link menu-title link-nav" href="javascript:void(0)" th:href="@{/admin/cmmLegCodeManage}"><i data-feather="package"></i><span>공통코드관리</span></a></li>
                        <li class="dropdown"><a class="nav-link menu-title link-nav" href="javascript:void(0)" th:href="@{/admin/roleManage}"><i data-feather="package"></i><span>권한관리</span></a></li>
                        <!--<li class="dropdown"><a class="nav-link menu-title link-nav" href="javascript:void(0)" th:href="@{/admin/docManager}"><i data-feather="package"></i><span>문서관리</span></a></li>-->
                    </ul>
                </div>
                <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
            </div>
        </nav>
    </header>

</th:block>
</html>